<% layout('layout2') %>
<!-- <script type="text/javascript">
    function yesOrNo(message){
        if(window.confirm(message) == true){
            return true;
        }
        return false;
    }
</script> -->
    <div id="wrapper">
        <% include ../partials/sidebar %>
        
        <div id="page-content-wrapper">
            <% include ../partials/navbar %>
                <div class="container-fluid main_body">
                    <h1>List User</h1>
                    <br><br><br> 
                    <p>Just a admin can see this site. Please contact admin to get information or go back to home</p>
                </div>
                <!-- <a href="/users/add-project" class="btn btn-block btn-primary link_btn button-plus">Add Project</a> -->
        </div>

    </div>