<% layout('layout2') %>

    <div id="wrapper">

        <% include ../partials/sidebar %>

        <div id="page-content-wrapper">
            <% include ../partials/navbar %>
                <div class="container-fluid main_body">
                    <h1>Update User</h1>
                    <!-- <div class="ul_links">
                        <ul>
                            <li><a href="/">Home</a></li> |
                            <li><a href="/companies">All Companies</a></li>
                        </ul>
                    </div> -->

                    <div class="bodyDiv">
                        <form action="/users/admin/update-user/<%= user._id %>" method="post">
                            <div class="form-group">
                                <label for="emailuser">Email User</label>
                                <input type="text" class="form-control" name="emailuser" id="" aria-describedby="helpId" placeholder="" value="<%= user.email %>" disabled>
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>

                            <div class="form-group">
                                <label for="fullname">User Name </label>
                                <input type="text" class="form-control" name="fullname" id="" aria-describedby="helpId" placeholder="" value="<%= user.fullname %>">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>    
                            
                            <div class="form-group">
                                <label for="roleuser">Role User</label>
                                <input type="text" class="form-control" name="roleuser" id="" aria-describedby="helpId" placeholder="" value="<%= user.role %>">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/users/admin/list-user" class="btn btn-block btn-primary link_btn button-plus">List User</a>
                        </form>

                    </div>

                </div>
        </div>

    </div>